@model IEnumerable<PortfolioWebApp.Models.Contact>

@{
    ViewBag.Title = "Mesajları Listele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="t-white">Gelen Mesajlar</h2>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered table-hover" style="color: white; background-color: #1f1f38;">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Mesaj</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Number</td>
                    <td>@item.Content</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="t-white">Hiç mesaj bulunamadı.</p>
}
